body {
  background-color: gray;
}

header {
  background-color: olive;
  text-align: center;
}

h2,
h3 {
  color: #dba40e;
  background-color: olive;
  text-align: center;
}

img {
  border: 3px double;
  border-color: olive;
  width: 600px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
